.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-image: url('./background1.png');
  min-height: 100vh;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat; /* Prevent background image from repeating */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}